/* resets */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  max-width: 100vw;
  min-height: 100vh;
  margin: 0;

  overflow: hidden;
}

/* Page footer */
footer {
  margin-top: auto;
  margin-bottom: 2vh;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
