/* resets */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;

  margin: 0;
  overflow: hidden;
}

/* page wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  max-width: 80%;
  padding: 2vw;
  margin: 0 auto;
}

/* Page footer */
footer {
  margin-top: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
