/* Styling for the ipc-Card component */
.ipc-Card {
  width: clamp(var(--width-min), var(--width-avg), var(--width-max));
  padding-top: var(--rs-34);
  padding-bottom: var(--rs-34);

  background-color: var(--clr-card);
  border-radius: 8px;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);

  font-size: var(--rs-12);
  text-align: center;
}

.ipc-Card > * {
  padding-left: var(--rs-24);
  padding-right: var(--rs-24);
}

.ipc-Card > * + * {
  margin-top: var(--rs-34);
}

/* the Pricing section */
.ipc-Card_prices > p:first-of-type {
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

/* the Billing section */

/* the Call to Action section */
.ipc-Card_cta {
  border-top: 2px solid var(--clr-slider-bar-empty);
}

.ipc-Card_cta > div > * + * {
  margin-top: var(--rs-10);
}

.ipc-Card_cta > div > p:first-of-type {
  margin-top: var(--rs-24);
}

.ipc-Card_cta > div > p > img {
  width: 1em;
  height: 1em;
  margin-right: 1em;
}

.ipc-Card_cta > button {
  margin-top: var(--rs-32);
}

/* -- Media Queries -- */

@media (min-width: 600px) {
  .ipc-Card {
    font-size: var(--rs-14);
  }

  .ipc-Card_cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}
