/* -- Styling for the ipc-Card component 
        changes to the slider thumb must be made to two selector groups:
             -moz-range-thumb
             -webkit-slider-thumb
   -- */
.ipc-Card {
  --discount: 0.25;

  width: clamp(var(--width-min), var(--width-avg), var(--width-max));
  padding-top: var(--rs-34);
  padding-bottom: var(--rs-34);

  background-color: var(--clr-card);
  border-radius: 8px;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);

  font-size: var(--rs-12);
  text-align: center;
}

.ipc-Card > * {
  padding-left: var(--rs-24);
  padding-right: var(--rs-24);
}

.ipc-Card > * + * {
  margin-top: var(--rs-34);
}

/* -- the Pricing section -- */
.ipc-Card_prices > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  line-height: 40px;
}

/* page views */
.ipc-Card_prices > p:first-of-type {
  margin-bottom: var(--rs-24);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

/* the slider */
.ipc-Card_prices .gc-Slider {
  /* Custom properties for slider */
  --rail-width: 100%;
  --rail-height: 8px;

  --clr-bar-empty: hsl(226, 68%, 95%);
  --clr-bar-full: hsl(174, 77%, 80%);
  --clr-bg: hsl(174, 86%, 45%);
  --clr-thumb-hover: hsl(174, 73%, 70%);

  --clr-shadow: 0px 15px 30px 0px var(--clr-bg);
  --clr-shadow-neutral: 0px 20px 30px -5px hsla(230, 29%, 61%, 0.152);

  --gradient-stop: 50%;

  appearance: none;
  -webkit-appearance: none;

  width: var(--rail-width);
  height: var(--rail-height);

  border-radius: 10px;

  background: linear-gradient(
    to right,
    var(--clr-bar-full) var(--gradient-stop),
    var(--clr-bar-empty) calc(100% - var(--gradient-stop))
  );
}

.ipc-Card_prices .gc-Slider:focus {
  outline: none;
}

.ipc-Card_prices .gc-Slider::-moz-range-thumb {
  width: 40px;
  height: 40px;

  border: none;
  border-radius: 50%;
  background-image: url("../images/icon-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--clr-bg);
  box-shadow: var(--clr-shadow), var(--clr-shadow-neutral);

  cursor: pointer;
}

.ipc-Card_prices .gc-Slider:hover::-moz-range-thumb {
  background-color: var(--clr-thumb-hover);
}

.ipc-Card_prices .gc-Slider:focus::-moz-range-thumb {
  background-color: var(--clr-bg);
  cursor: grab;
}

.ipc-Card_prices .gc-Slider::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-image: url("../images/icon-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--clr-bg);
  box-shadow: var(--clr-shadow), var(--clr-shadow-neutral);

  cursor: pointer;
}

.ipc-Card_prices .gc-Slider:hover::-webkit-slider-thumb {
  background-color: var(--clr-thumb-hover);
}

.ipc-Card_prices .gc-Slider:focus::-webkit-slider-thumb {
  background-color: var(--clr-bg);
  cursor: grab;
}

/* the price */
.ipc-Card_prices > p:last-of-type {
  margin-top: var(--rs-24);
  font-size: var(--rs-14);
}

.ipc-Card_prices > p > strong {
  font-size: var(--rs-32);
  font-weight: var(--fw-bold);
  color: var(--clr-cta-bg);
}

/* -- the Billing section -- */
.ipc-Card_billing {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* the toggle button */
.ipc-Card_billing > button {
  width: 43px;
  height: 22px;
  border: none;
  border-radius: 15px;
  background-color: var(--clr-toggle-bg);
  cursor: pointer;
}

/* the toggle */
.ipc-Card_billing > button span {
  display: block;
  width: 16px;
  height: 16px;
  margin-left: -4px;
  border-radius: 50%;

  background-color: var(--clr-card);
}

.ipc-Card_billing > button:hover {
  background-color: var(--clr-slider-bg);
}

.ipc-Card_billing > button:focus {
  outline: none;
}

.ipc-Card_billing > button[aria-checked="true"] {
  background-color: var(--clr-slider-bg);
}

.ipc-Card_billing > button[aria-checked="true"] span {
  margin-left: 13px;
}

/* the discount */
.ipc-Card_billing > p:last-of-type {
  padding: 2px 7px 3px 8px;
  border-radius: 1rem;

  background-color: var(--clr-discount-bg);

  font-size: var(--rs-10);
  font-weight: var(--fw-bold);
  color: var(--clr-discount-fg);
}

.ipc-Card_billing > p:last-of-type > span {
  opacity: 0;
}

/* -- the Call to Action section -- */
.ipc-Card_cta {
  border-top: 2px solid var(--clr-slider-bar-empty);
}

.ipc-Card_cta > div > * + * {
  margin-top: var(--rs-10);
}

.ipc-Card_cta > div > p:first-of-type {
  margin-top: var(--rs-24);
}

.ipc-Card_cta > div > p > img {
  width: 1em;
  height: 1em;
  margin-right: 1em;
}

.ipc-Card_cta > button {
  width: 170px;
  height: 41px;
  margin-top: var(--rs-32);

  border-radius: var(--rs-20);
  background-color: var(--clr-cta-bg);

  font-weight: var(--fw-bold);
  color: var(--clr-cta-fg);
  cursor: pointer;
}

/* -- Media Queries -- */

@media (min-width: 600px) {
  .ipc-Card {
    font-size: var(--rs-14);
  }

  .ipc-Card_prices > .slider .arrow {
    transform: unset;
  }

  .ipc-Card_prices > p:last-of-type {
    font-size: var(--rs-16);
  }

  .ipc-Card_prices > p > strong {
    font-size: var(--rs-40);
  }

  .ipc-Card_cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}
