/* ipc-Intro */
.ipc-Intro {
  width: clamp(var(--width-min), var(--width-avg), var(--width-max));
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: var(--rs-64);
  text-align: center;
}

.ipc-Intro > h1 {
  /* 
    min: 89px/ 375px = 23.7% or 23.7vw, 89/16 = 5.5625rem
    max: 104px/1440px = 7.22% or 7.22vw, 104/16 = 6.5rem
    diff: (104-89)/(1440-375) = 1.4% or 1.4vw
    avg: 23.7vw - 1.4vw = 22.3vw
   */
  margin-top: clamp(5.5625rem, 22.3vw, 6.5rem);
  margin-bottom: var(--rs-08);

  font-size: var(--rs-20);
  font-weight: var(--fw-bold);
  color: var(--clr-cta-bg);
}

.ipc-Intro > div > p {
  margin-bottom: var(--rs-06);
  font-size: var(--rs-13);
}

@media (min-width: 600px) {
  .ipc-Intro > div > p {
    display: inline-block;
    font-size: var(--rs-15);
  }
}
