/* -- Styling for the ipc-Card component -- */
.ipc-Card {
  width: clamp(var(--width-min), var(--width-avg), var(--width-max));
  padding-top: var(--rs-34);
  padding-bottom: var(--rs-34);

  background-color: var(--clr-card);
  border-radius: 8px;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);

  font-size: var(--rs-12);
  text-align: center;
}

.ipc-Card > * {
  padding-left: var(--rs-24);
  padding-right: var(--rs-24);
}

.ipc-Card > * + * {
  margin-top: var(--rs-34);
}

/* -- the Pricing section -- */
.ipc-Card_prices > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  line-height: 40px;
}

/* page views */
.ipc-Card_prices > p:first-of-type {
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

/* the slider */
.ipc-Card_prices .slider {
  display: flex;

  height: var(--rs-40);
  margin-top: var(--rs-24);
}

.ipc-Card_prices .slider_rail {
  position: relative;
  width: 100%;
  height: 8px;
  margin: var(--rs-16) 0;

  border-radius: 10px;
  background-color: var(--clr-slider-bar-empty);
}

.ipc-Card_prices .slider_thumb {
  position: absolute;
  left: 45%;

  display: block;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: var(--clr-slider-bg);

  transform: translateY(-46%);
}

.ipc-Card_prices .slider .arrow {
  display: inline-block;
  width: 0;
  height: 0;
  padding: 1px;

  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.ipc-Card_prices .slider .arrow.left {
  margin-right: 10px;
  border-right: 8px solid var(--clr-slider-bar-full);

  transform: translateY(2px);
}

.ipc-Card_prices .slider .arrow.right {
  border-left: 8px solid var(--clr-slider-bar-full);
  transform: translateY(2px);
}

/* the price */
.ipc-Card_prices > p:last-of-type {
  font-size: var(--rs-14);
}

.ipc-Card_prices > p > strong {
  font-size: var(--rs-32);
  font-weight: var(--fw-bold);
  color: var(--clr-cta-bg);
}

/* -- the Billing section -- */
.ipc-Card_billing {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* the toggle button */
.ipc-Card_billing > button {
  width: 43px;
  height: 22px;
  border: none;
  border-radius: 15px;
  background-color: var(--clr-toggle-bg);
  cursor: pointer;
}

/* the toggle */
.ipc-Card_billing > button span {
  display: block;
  width: 16px;
  height: 16px;
  margin-left: -4px;
  border-radius: 50%;

  background-color: var(--clr-card);
}

.ipc-Card_billing > button:focus {
  background-color: var(--clr-slider-bg);
}

.ipc-Card_billing > button:focus span {
  margin-left: 13px;
}

/* the discount */
.ipc-Card_billing > p:last-of-type {
  padding: 2px 7px 3px 8px;
  border-radius: 1rem;

  background-color: var(--clr-discount-bg);

  font-size: var(--rs-10);
  font-weight: var(--fw-bold);
  color: var(--clr-discount-fg);
}

.ipc-Card_billing > p:last-of-type > span {
  opacity: 0;
}

/* -- the Call to Action section -- */
.ipc-Card_cta {
  border-top: 2px solid var(--clr-slider-bar-empty);
}

.ipc-Card_cta > div > * + * {
  margin-top: var(--rs-10);
}

.ipc-Card_cta > div > p:first-of-type {
  margin-top: var(--rs-24);
}

.ipc-Card_cta > div > p > img {
  width: 1em;
  height: 1em;
  margin-right: 1em;
}

.ipc-Card_cta > button {
  width: 170px;
  height: 41px;
  margin-top: var(--rs-32);

  border-radius: var(--rs-20);
  background-color: var(--clr-cta-bg);

  font-weight: var(--fw-bold);
  color: var(--clr-cta-fg);
  cursor: pointer;
}

/* -- Media Queries -- */

@media (min-width: 600px) {
  .ipc-Card {
    font-size: var(--rs-14);
  }

  .ipc-Card_prices > p:last-of-type {
    font-size: var(--rs-16);
  }

  .ipc-Card_prices > p > strong {
    font-size: var(--rs-40);
  }

  .ipc-Card_billing > p:last-of-type > span {
    outline: 1px solid red;
  }

  .ipc-Card_cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}
