/* ipc-Intro */
.ipc-Intro {
  width: clamp(var(--width-min), var(--width-avg), var(--width-max));
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: var(--rs-64);
  text-align: center;
}

.ipc-Intro > h1 {
  margin-bottom: var(--rs-08);
  font-size: var(--rs-20);
  font-weight: var(--fw-bold);
}

.ipc-Intro > div > p {
  margin-bottom: var(--rs-06);
  font-size: var(--rs-13);
}

@media (min-width: 600px) {
  .ipc-Intro > div > p {
    display: inline-block;
    font-size: var(--rs-15);
  }
}
