:root {
  /* colours */
  --clr-bg: hsl(230, 100%, 99%);
  --clr-fg: rgb(133, 143, 173);

  --clr-card: hsl(0, 0%, 100%);
  --clr-cta-bg: hsl(227, 35%, 25%);
  --clr-cta-fg: hsl(226, 100%, 87%);

  --clr-slider-bar-empty: hsl(224, 65%, 95%);
  --clr-slider-bar-full: hsl(174, 77%, 80%);
  --clr-slider-bg: hsl(174, 86%, 45%);

  --clr-discount-bg: hsl(14, 92%, 95%);
  --clr-discount-fg: hsl(15, 100%, 70%);

  --clr-pc-bg: hsl (0, 0%, 100%);

  --clr-toggle-bg: hsl(223, 50%, 87%);

  /* typography */
  --ff-base: "Manrope", sans-serif;

  --fw-normal: 600;
  --fw-bold: 800;

  /* if the `root` font-size is changed it will reset the 1rem value
     and everything will scale relative to the original pixel sizes
   */
  --rs-06: 0.375rem;
  --rs-08: 0.5rem;
  --rs-10: 1.6rem;
  --rs-12: 0.75rem;
  --rs-13: 0.8125rem;
  --rs-14: 0.875rem;
  --rs-15: 0.9375rem;
  --rs-16: 1rem;
  --rs-20: 1.25rem;
  --rs-24: 1.5rem;
  --rs-28: 1.75rem;
  --rs-32: 2rem;
  --rs-34: 2.125rem;
  --rs-40: 2.5rem;
  --rs-64: 4rem;

  /* width sizing 
     
     min: 327px/ 375px = 87.2% or 87.2vw, 327/16 = 20.43rem
     max: 540px/1440px = 37.5% or 37.5vw, 540/16 = 33.75rem
     diff: (540-327)/(1440-375) = 15.5% or 15.5vw,
     avg: 87.2vw - 15.5vw = 71.7vw */
  --width-min: 20.43rem;
  --width-max: 33.75rem;
  --width-avg: 72vw;
}

h1,
p {
  padding: 0;
  margin: 0;
}

.ipc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: clamp(var(--width-min), var(--width-avg), var(--width-max));

  font-family: var(--ff-base);
  font-size: var(--rs-15);
  font-weight: var(--fw-normal);
  color: var(--clr-fg);
}
