/* Accessible friendly way to hide an element */
.visually-hidden {
  position: absolute;

  width: 1px;
  height: auto;
  margin: 0;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;

  overflow: hidden;
}
